<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Cadastrar Oferta
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>

  <ion-item>
    <ion-label stacked>Titulo</ion-label>
    <ion-input type="text" value="" [(ngModel)]="oferta.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Descrição</ion-label>
    <ion-input type="text" [(ngModel)]="oferta.descricao"></ion-input>
  </ion-item>

<ion-item>
    <ion-label stacked>Preço</ion-label>
    <ion-input type="number" [(ngModel)]="oferta.preco"></ion-input>
</ion-item>
  <ion-item>
    <ion-label stacked>Empresa</ion-label>
    <ion-select [(ngModel)]="oferta.empresa_id">
      <ion-option *ngFor="let empresa of empresas" value="{{empresa.id}}" >{{empresa.nome}}</ion-option>
    </ion-select>
  </ion-item>
<button ion-button block (click)="adicionarOferta(oferta)">Cadastrar</button>

</ion-list>
</ion-content>
