<ion-header>
  <ion-navbar color="primary">
    <ion-title>Listar Ofertas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
<ion-list>
    <ion-item *ngFor="let oferta of ofertas">
    <ion-avatar item-start>
      <img src="https://3.bp.blogspot.com/-gjaLNTuQ9tQ/WDMBId9ARiI/AAAAAAAAVA8/4XVyhZdHMw89KHnLXKmTF04NL82o0_fwgCLcB/s1600/IMG-20161117-WA0009.jpg">
    </ion-avatar>
    <h2>{{oferta.titulo}}</h2>
    <h3>R$ {{oferta.preco}}</h3>
    <p>{{oferta.descricao}}</p>
  </ion-item>
</ion-list>
</ion-content>
